<div class="container" id="map">
  <div class="row">
    <div class="col-sm-12" id="abox">
      <br/>
      <br/>
      <div class="row">
        <div class="col-sm-4 col-md-4"></div>
        <div class="col-sm-4 col-md-4">
          <h2><img src="assets/images/users.png" style="max-width:50px;"><span class="tab-space">About Us</span></h2>
        </div>
      </div>
      <br/>
      <p>adWise is a platform for Computer Science majors at LUMS which aims to
        guide students to choose courses by filtering based on
        prerequisites, clashes and type of fields in Computer Science.
      </p>
      <h3>- Perspective</h3>
      <p>At the start of each semester, students have to spend countless hours planning
        their courses according to their requirements. In most cases, later, they realise
        that they have clashes or they do not fulfil the prerequisite for a course.
        Even worse, students might find out that the course they took has a strict instructor
        or is difficult so they end up dropping it. adWise is a new system that is a replacement
        for certain aspects of three existing systems used by students in these critical times:
        Zambeel and Suraj.
      </p>
      <h3>- Scope</h3>
      <p>A web application which aims to guide the undergraduate CS majors at
        LUMS to choose the right courses. By filtering out the courses based on prerequisites
        and clashes, the application provides each student with a clear choice of courses
        in each field. adWise also displays courses being offered in the upcoming semester
        including their schedule and course outline.<br />
        Not only that, it suggests career options and instructors as advisers according
        to a particular student’s field of interest. Students can check and post reviews
        about a particular course or instructor. The idea is to contain all the important and crucial
        functionality of Suraj, Portal and LDF on a single platform, thus, making the task of choosing
        a course easier and hassle-free.
      </p>
      <h3>- Users and Characteristics</h3>
      <p>adWise will cater mainly to CS students and instructors. Although the
        application will not differentiate between them, the students can further be divided into two groups according
        to their requirements i.e. Freshmen, Sophomores and Juniors, Seniors.<br /><br />
        Freshmen, Sophomores:   At this stage, students are mostly in need of guidance in their career paths. adWise
        helps the students by referring them to instructors working in that field. In case the
        student is indecisive about his field, it also suggests courses in a variety of fields to
        help him in his decision. Since it is advised to enroll in pre-decided core courses for
        the first four semesters, students do not face much difficulty during enrollment.<br /><br />
        Juniors, Seniors:	At the start of each of the last four semesters, students face challenges in deciding the
        courses to enroll in. adWise will provide course outlines for all the courses offered in
        that semester. It will also suggest a list of possible courses in each field that can fit into that student’s schedule.
        Not only that, the students will be able to post and look at the reviews of a particular course and instructor.<br /><br />
        Instructors:	Instructors have limited usage of this application. adWise will allow them to update
        their information, courses and course outlines. They can also view the evaluations and
        reviews of their courses by students.
      </p>
      <br/>
      <br/>
      <br/>
    </div>
  </div>
</div>