<div class="container">
    <div class="row">
        <div class="col-sm-12" id="bbox">
            <br/>
            <br/>
            <div class="row">
                <div class="col-sm-4 col-md-4"></div>
                <div class="col-sm-4 col-md-4">
                    <h2><img src="images/phone.png" style="max-width:50px;"><span class="tab-space">Contact</span></h2>
                </div>
            </div>
            <br/>
            <p>You can always contact any member of our amazing team in case of any
                queries or concerns.
            </p>
            <h3>- Our Team</h3>
            <p>
                Khadija Tariq: 18100221@lums.edu.pk<br /><br />
                Aimen Gaba: 18100061@lums.edu.pk<br /><br />
                Muhammad Abdullah Malik: 18100006@lums.edu.pk<br /><br />
                Muhammad Khizar Hayat Tahir: 18100230@lums.edu.pk<br /><br />
                Syed Faaiz Hussain: 18100163@lums.edu.pk<br /><br />
            </p>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
        </div>
    </div>
</div>