<div class="container">
    <div class="row">
        <div class="col-sm-12" id="abox">
            <br/>
            <br/>
            <div class="row">
                <div class="col-sm-4 col-md-4"></div>
                <div class="col-sm-4 col-md-4">
                    <h2><img src="images/faq.png" style="max-width:50px; margin-left:20px"><span class="tab-space">FAQ</span></h2>
                </div>
            </div>
            <br/>
            <a href="#q1">Q1. What is adWise?</a><br />
            <a href="#q2">Q2. What is adWise?</a><br />
            <a href="#q3">Q3. What is adWise?</a><br />
            <a href="#q4">Q4. What is adWise?</a><br />
            <br/>
            <a name="q1"></a>
            <h3>What is adWise?</h3>
            <p>A web application which aims to guide the undergraduate CS majors at
                LUMS to choose the right courses. By filtering out the courses based on prerequisites
                and clashes, the application provides each student with a clear choice of courses
                in each field. adWise also displays courses being offered in the upcoming semester
                including their schedule and course outline.<br />
                Not only that, it suggests career options and instructors as advisers according
                to a particular student’s field of interest. Students can check and post reviews
                about a particular course or instructor. The idea is to contain all the important and crucial
                functionality of Suraj, Portal and LDF on a single platform, thus, making the task of choosing
                a course easier and hassle-free.
            </p>
            <a name="q2"></a>
            <h3>What is adWise?</h3>
            <p>A web application which aims to guide the undergraduate CS majors at
                LUMS to choose the right courses. By filtering out the courses based on prerequisites
                and clashes, the application provides each student with a clear choice of courses
                in each field. adWise also displays courses being offered in the upcoming semester
                including their schedule and course outline.<br />
                Not only that, it suggests career options and instructors as advisers according
                to a particular student’s field of interest. Students can check and post reviews
                about a particular course or instructor. The idea is to contain all the important and crucial
                functionality of Suraj, Portal and LDF on a single platform, thus, making the task of choosing
                a course easier and hassle-free.
            </p>
            <a name="q3"></a>
            <h3>What is adWise?</h3>
            <p>A web application which aims to guide the undergraduate CS majors at
                LUMS to choose the right courses. By filtering out the courses based on prerequisites
                and clashes, the application provides each student with a clear choice of courses
                in each field. adWise also displays courses being offered in the upcoming semester
                including their schedule and course outline.<br />
                Not only that, it suggests career options and instructors as advisers according
                to a particular student’s field of interest. Students can check and post reviews
                about a particular course or instructor. The idea is to contain all the important and crucial
                functionality of Suraj, Portal and LDF on a single platform, thus, making the task of choosing
                a course easier and hassle-free.
            </p>
            <br/>
            <br/>
            <br/>
        </div>
    </div>
</div>