<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar" style="background-color:#eeeeee">
            <ul class="nav nav-sidebar">
                <li class="active"><a href="#">Home<span class="sr-only">(current)</span></a></li>
                <li><a href="/ioldposts">Old Posts</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li><a href="/imycourses">My Courses</a></li>
                <li><a href="#">View Evaluations & Reviews</a></li>
                <li><a href="/icourses">All Courses</a></li>
                <li><a href="/iinstructors">All Instructors </a></li>
            </ul>
        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <br />
            <div>
                <h1 class="page-header" style="color:#3DB1C8; text-align:center;"><img src="assets/images/dash.png" style="max-width:45px;margin-right: 10px;
                margin-bottom: 6px;">Dashboard</h1>
            </div>


            <div class="col-md-12 main" style="background-color:rgba(255,255,255,0.5)">
                <h2 class="sub-header"  style="color:#79be1f"><img src="assets/images/career.png" style="max-width:35px;margin-right: 10px;
                    margin-bottom: 6px;">Post</h2>
                <form class="form" ng-submit="inst.addPost(pData,main.fname,main.lname);">
                    <div class="row placeholders">
                        <div class="form-group">
                        <select name="field" class="form-control input-lg" id="sel1" onchange="changeCol(this)" ng-model="inst.pData.field">
                            <option value="" disabled selected hidden>Select Career Option</option>
                            <option value="Artificial Intelligence">Artificial Intelligence</option>
                            <option value="Computer Graphics">Computer Graphics</option>
                            <option value="Computer Networks">Computer Networks</option>
                            <option value="Comm Bio">Comm Bio</option>
                            <option value="Human Computer Interaction">Human Computer Interaction</option>
                            <option value="Operating Systems">Operating Systems</option>
                            <option value="Algorithms">Algorithms</option>
                            <option value="Software Engineering">Software Engineering</option>
                        </select>
                    </div>
                        <input type="text" name="post" value="" required autocomplete="off"
                               class="form-control input-lg" placeholder="Write Post" ng-model="inst.pData.text"/>
                        <br />
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Post</button>
                    </div>
                </form>
                <a href="/icourses"><h2 class="sub-header" style="color:#79be1f"><img src="assets/images/book.png" style="max-width:35px;margin-right: 10px;
                    margin-bottom: 6px;">My Courses</h2></a>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Course Code</th>
                            <th>Name</th>
                            <th>Instructor</th>
                            <th>Outline</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="course in main.myCourses">
                            <td>{{ course.catalog }}</td>
                            <td>{{ course.cTitle }}</td>
                            <td>{{ course.iname }}</td>
                            <td><a ng-href="{{ course.outline }}">Download</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>




                <h2 class="sub-header" style="color:#79be1f"><img src="assets/images/hist.png" style="max-width:35px;margin-right: 10px;
                    margin-bottom: 6px;">Reviews</h2>
                <div class="row placeholders">

                    <div class="col-xs-6 col-sm-12 placeholder" style="background-color:white">
                        <h4>Anonymous</h4>
                        <p>Dr. Shafay Shamail was a great instructor.</p>
                    </div>
                </div>
                <div class="row placeholders">
                    <div class="col-xs-6 col-sm-12 placeholder" style="background-color:white">
                        <h4>Anonymous</h4>
                        <p>Dr. Shafay Shamail was a great instructor.</p>
                    </div>
                </div>
                <div class="row placeholders">
                    <div class="col-xs-6 col-sm-12 placeholder" style="background-color:white">
                        <h4>Anonymous</h4>
                        <p>Dr. Shafay Shamail was a great instructor.</p>
                    </div>
                </div>
                <div class="row placeholders">
                    <div class="col-xs-6 col-sm-12 placeholder" style="background-color:white">
                        <h4>Anonymous</h4>
                        <p>Dr. Shafay Shamail was a great instructor.</p>
                    </div>
                </div>


                <h2 class="sub-header" style="color:#79be1f"><img src="assets/images/book.png" style="max-width:35px;margin-right: 10px;
                    margin-bottom: 6px;">All Courses</h2>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Course Code</th>
                            <th>Name</th>
                            <th>Instructor</th>
                            <th>Outline</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="course in main.allCourses">
                            <td>{{ course.catalog }}</td>
                            <td>{{ course.cTitle }}</td>
                            <td>{{ course.iname }}</td>
                            <td><a ng-href="{{ course.outline }}">Download</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>



                <h2 class="sub-header"  style="color:#79be1f"><img src="assets/images/users.png" style="max-width:35px;margin-right: 10px;
                    margin-bottom: 6px;">All Instructors</h2>
                <br />
                <div class="row placeholders">
                    <div class="col-xs-6 col-sm-3 placeholder">
                        <img src="assets/images/i1.jpg" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                        <h4>Dr. Shafay Shamail</h4>
                        <span class="text-muted">Associate Professor - CS</span>
                    </div>
                    <div class="col-xs-6 col-sm-3 placeholder">
                        <img src="assets/images/i2.JPG" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                        <h4>Dr. Zartash Afzal Uzmi</h4>
                        <span class="text-muted">Associate Professor - CS/EE</span>
                    </div>
                    <div class="col-xs-6 col-sm-3 placeholder">
                        <img src="assets/images/i3.jpg" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                        <h4>Dr. Suleman Shahid</h4>
                        <span class="text-muted">Assistant Professor - CS</span>
                    </div>
                    <div class="col-xs-6 col-sm-3 placeholder">
                        <img src="assets/images/i4.JPG" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                        <h4>Dr. Naveed Arshad</h4>
                        <span class="text-muted">Associate Professor - CS</span>
                    </div>
                </div>



            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="../../dist/js/bootstrap.min.js"></script>
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<script src="../../assets/js/vendor/holder.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

