<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar" style="background-color:#eeeeee">
            <ul class="nav nav-sidebar">
                <li><a href="/idashboard">Home</a></li>
                <li><a href="/ioldposts">Old Posts</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li><a href="/imycourses">My Courses</a></li>
                <li><a href="#">View Evaluations & Reviews</a></li>
                <li><a href="/icourses">All Courses</a></li>
                <li class="active"><a href="#">All Instructors<span class="sr-only">(current)</span></a></li>
            </ul>
        </div>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

        <div>
            <h1 class="page-header" style="color:#3DB1C8; text-align:center;"><img src="assets/images/inst2.png" style="max-width:45px;margin-right: 10px;
                margin-bottom: 6px;">All Instructors</h1>
        </div>
    <div class="col-md-12 main" style="background-color:rgba(255,255,255,0.5)">
    <br />

        <div class="row placeholders" ng-repeat="four in main.allInstructors">
            <div class="col-xs-6 col-sm-3 placeholder" ng-repeat="ins in four">
                <a href="/iinsinfo"><img src="assets/images/i3.jpg" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail"></a>
                <h4>{{ins}}</h4>
                <span class="text-muted">Associate Professor - CS</span>
            </div>
        </div>
    </div>
    </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="../../dist/js/bootstrap.min.js"></script>
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<script src="../../assets/js/vendor/holder.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>