body
{
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
#bbox
{
    background: rgba(0, 0, 0, 0.4);
  	min-height:560px;
  	text-align:center;
}
#abox, #cbox
{
    background: rgba(0, 0, 0, 0.4);
    text-align:left;
    padding-left: 60px;
    padding-right: 60px;
}
#ebox
{
	 text-align:center;
}
#ebox p, #ebox h2
{
    color:#5b5b5b;
}
#abox h2, #abox a, #abox p, #ebox a, #bbox a, #bbox h2, #bbox p, #cbox h2, #cbox p
{
    color:white;
}
#cbox a
{
    color:#aeea5e;
}
#abox h3, #cbox h3
{
    color:#59b5ee;
}
#bbox h2, #ebox h2
{
    margin-top:130px;
}
#bbox p, #ebox p
{
    margin-top: 45px;
}
#map
{
    margin-top: -20px;
}
span.tab-space {padding-left:1.5em;}
.signup-btn {
  background: #79bc64;
  border-radius: 4px;
  text-shadow: 0px 1px 0px #898a88;
  -webkit-box-shadow: 0px 0px 0px #a4e388;
  -moz-box-shadow: 0px 0px 0px #a4e388;
  box-shadow: 0px 0px 0px #a4e388;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #3b6e22  1px;
}
.signup-btn:hover {
  background: #79bc64;
  background-image: -webkit-linear-gradient(top, #79bc64, #5e7056);
  background-image: -moz-linear-gradient(top, #79bc64, #5e7056);
  background-image: -ms-linear-gradient(top, #79bc64, #5e7056);
  background-image: -o-linear-gradient(top, #79bc64, #5e7056);
  background-image: linear-gradient(to bottom, #79bc64, #5e7056);
}
.form .form-control { margin-bottom: 7px; }
#sel1 {
    color: gray;
}
#sel1 option {
    color: black;
}