<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar" style="background-color:#eeeeee">
            <ul class="nav nav-sidebar">
                <li><a href="/sdashboard">Home</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li><a href="/scareers">Career Paths</a></li>
                <li><a href="/sahistory">Academic History</a></li>
                <li class="active"><a href="#">All Courses<span class="sr-only">(current)</span></a></li>
                <li><a href="/sinstructors">All Instructors</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li><a href="/enrollment">Enrollment</a></li>
            </ul>
        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <br />
            <div>
                <h1 class="page-header" style="color:#3DB1C8; text-align:center;"><img src="assets/images/book2.png" style="max-width:45px;margin-right: 10px;
                margin-bottom: 6px;">All Courses</h1>
            </div>
            <div class="col-md-12 main" style="background-color:rgba(255,255,255,0.5)">
                <br />

         <div class="row">
            <h2 class="sub-header"  style="color:#79be1f"><img src="assets/images/career.png" style="max-width:35px;margin-right: 10px;
                    margin-bottom: 6px;">Add a Review</h2>
             <div class="form-group">
                    <select name="field" class="form-control input-lg" id="sel1" onchange="changeCol(this)" ng-model="register.regData.field">
                        <option value="" disabled selected hidden>Select Course</option>
                        <option value="Artificial Intelligence">Artificial Intelligence</option>
                    </select>
                </div>

                <div class="row placeholders">
                    <input type="text" name="review" value="" required autocomplete="off"
                           class="form-control input-lg" placeholder="Write a Review" />
                    <br />
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Add a Review</button>

                </div>

        </div>
        <br />

                <a href="http://suraj.lums.edu.pk/" style="font-weight:bold;">SURAJ</a>
                <br />
                <br />
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Course Code</th>
                            <th>Name</th>
                            <th>Instructor</th>
                            <th>Outline</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="course in main.allCourses">
                            <td>{{ course.catalog }}</td>
                            <td>{{ course.courseTitle }}</td>
                            <td>{{ course.instructor }}</td>
                            <td><a ng-href="{{ course.outline }}">Download</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="../../dist/js/bootstrap.min.js"></script>
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<script src="../../assets/js/vendor/holder.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>