<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar" style="background-color:#eeeeee">
            <ul class="nav nav-sidebar">
                <li><a href="/sdashboard">Home</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li><a href="/scareers">Career Paths</a></li>
                <li><a href="/sahistory">Academic History</a></li>
                <li><a href="/scourses">All Courses</a></li>
                <li><a href="/sinstructors">All Instructors</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li class="active"><a href="#">Enrollment<span class="sr-only">(current)</span></a></li>
            </ul>
        </div>
    
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <br />
            <div>
                <h1 class="page-header" style="color:#3DB1C8; text-align:center;"><img src="assets/images/enr.png" style="max-width:45px;margin-right: 10px;
                margin-bottom: 6px;">Enrollment</h1>
            </div>
            <div class="col-md-12 main" style="background-color:rgba(255,255,255,0.5)">
                <br />
                <a href="http://roservice.lums.edu.pk/" style="font-weight:bold;" target="_blank">PORTAL</a>
                <a href="https://zambeel.lums.edu.pk/" style="font-weight:bold; margin-left:40px;" target="_blank">ZAMBEEL</a>
                <a href="https://suraj.lums.edu.pk/~ro" style="font-weight:bold; margin-left:40px;" target="_blank">SURAJ</a>
                <br />
                <br />

                <h2 class="sub-header" style="color:#79be1f; display:inline">Course Suggestions</h2>
                <br />
                <br />
                <div class = "row">
                    <div class="col-sm-3 col-md-4">
                        <h3><b>Field: </b>{{main.cfield}}</h3>
                    </div>
                    <div class="col-sm-3 col-md-7">
                        <select name="field" class="form-control input-lg" id="sel1" ng-change="main.updateSugg()" ng-model="main.cfield">
                            <option value="" disabled selected hidden>Select another field of interest</option>
                            <option value="Artificial Intelligence">Artificial Intelligence</option>
                            <option value="Computer Graphics">Computer Graphics</option>
                            <option value="Comm Bio">Comm Bio</option>
                            <option value="Human Computer Interaction">Human Computer Interaction</option>
                            <option value="Operating System">Operating System</option>
                            <option value="Algorithms">Algorithms</option>
                            <option value="Software Engineering">Software Engineering</option>
                        </select>
                    </div>
                </div>
                <br />
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Course Code</th>
                            <th>Course Title</th>
                            <th>Instructor</th>
                            <th>Course Outline</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th>Major Cores</th>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>

                        <tr ng-repeat="course in main.core">
                            <td><a ng-click=main.chooseCourse(course.catalog)>{{ course.catalog }}</a></td>
                            <td>{{ course.courseTitle }}</td>
                            <td>{{ course.instructor }}</td>
                            <td><a ng-href="{{ course.outline }}" target="_blank">Download</a></td>
                        </tr>
                        <tr ng-show="main.vcore">
                            <th></th>
                            <td>No courses to show</td>
                            <td></td>
                            <td></td>
                        </tr>

                        <tr>
                            <th>Major Electives/ Free Electives</th>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr ng-repeat="course in main.elective">
                            <td><a ng-click=main.chooseCourse(course.catalog)>{{ course.catalog }}</a></td>
                            <td>{{ course.courseTitle }}</td>
                            <td>{{ course.instructor }}</td>
                            <td><a ng-href="{{ course.outline }}" target="_blank">Download</a></td>
                        </tr>
                        <tr ng-show="main.velective">
                            <th></th>
                            <td>No courses to show</td>
                            <td></td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="../../dist/js/bootstrap.min.js"></script>
<script src="../../assets/js/vendor/holder.min.js"></script>
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>