<div class="container-fluid">
<div class="row">
    <div class="col-sm-3 col-md-2 sidebar" style="background-color:#eeeeee">
        <ul class="nav nav-sidebar">
            <li><a href="/sdashboard">Home</a></li>
        </ul>
        <ul class="nav nav-sidebar">
            <li><a href="/scareers">Career Paths</a></li>
            <li><a href="/sahistory">Academic History</a></li>
            <li><a href="/scourses">All Courses</a></li>
            <li class="active"><a href="#">All Instructors<span class="sr-only">(current)</span></a></li>
        </ul>
        <ul class="nav nav-sidebar">
            <li><a href="/enrollment">Enrollment</a></li>
        </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

        <div>
            <h1 class="page-header" style="color:#3DB1C8; text-align:center;"><img src="assets/images/inst2.png" style="max-width:45px;margin-right: 10px;
                margin-bottom: 6px;">All Instructors</h1>
        </div>
        <div class="col-md-12 main" style="background-color:rgba(255,255,255,0.5)">
        <br />
        <div class="row">
            <h2 class="sub-header"  style="color:#79be1f"><img src="assets/images/career.png" style="max-width:35px;margin-right: 10px;
                    margin-bottom: 6px;">Add a Review</h2>
            <form class="form" ng-submit="review.addInstRev(rData,main.fname,main.lname);">
                <div class="row placeholders">
                    <div class="form-group">
                        <select name="instructor" class="form-control input-lg" id="sel1" onchange="changeCol(this)" ng-model="review.rData.inst">
                            <option value="" disabled selected hidden>Select Instructor</option>
                            <option ng-repeat="ins in main.allInstructors1" value="{{ins}}">{{ins}}</option>
                        </select>
                    </div>
                    <input type="text" name="review" value="" required autocomplete="off"
                           class="form-control input-lg" placeholder="Write a Review" ng-model="review.rData.text"/>
                    <br />
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Add a Review</button>
                </div>
            </form>
        </div>
        <br />
        <div class="row placeholders" ng-repeat="four in main.allInstructors">
            <div class="col-xs-6 col-sm-3 placeholder" ng-repeat="ins in four">
                <a href="#"><img src="assets/images/i3.jpg" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail" ng-click=main.chooseInst(ins)></a>
                <a><h4 ng-click=main.chooseInst(ins)>{{ins}}</h4></a>
                <span class="text-muted">Associate Professor - CS</span>
            </div>
        </div>
        </div>
    </div>
</div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="../../dist/js/bootstrap.min.js"></script>
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<script src="../../assets/js/vendor/holder.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>