<div class="container">
    <div class="row">
        <h2 class="col-sm-offset-3 col-sm-6" style="text-align:center">Instructor Signup</h2>
    </div>
    <div class="row">
        <div class="col-sm-offset-1 col-sm-2"></div>
        <div class="col-sm-6">
            <form class="form" ng-submit="register.regIns(regData);">
                <div class="row">
                    <div class="col-xs-6 col-md-6">
                        <input type="text" name="firstname" required autocomplete="off" class="form-control input-lg" placeholder="First Name" ng-model="register.regData.fname"/></div>
                    <div class="col-xs-6 col-md-6">
                        <input type="text" name="lastname" required autocomplete="off" class="form-control input-lg" placeholder="Last Name" ng-model="register.regData.lname"/></div>
                </div>
                <label>Gender : </label>
                <label class="radio-inline">
                    <input type="radio" name="gender" value="male" ng-model="register.regData.gender"/>Male
                </label>
                <label class="radio-inline">
                    <input type="radio" name="gender" value="female" ng-model="register.regData.gender"/>Female
                </label>
                <br/>
                <input type="email" name="email" required autocomplete="off" class="form-control input-lg" placeholder="Your Campus Email" ng-model="register.regData.email"/>
                <div class="form-group">
                    <select name="field" class="form-control input-lg" id="sel1" onchange="changeCol(this)" ng-model="register.regData.field">
                        <option value="" disabled selected hidden>Select your field</option>
                        <option value="Artificial Intelligence">Artificial Intelligence</option>
                        <option value="Computer Graphics">Computer Graphics</option>
                        <option value="Computer Networks">Computer Networks</option>
                        <option value="Comm Bio">Comm Bio</option>
                        <option value="Human Computer Interaction">Human Computer Interaction</option>
                        <option value="Operating Systems">Operating Systems</option>
                        <option value="Algorithms">Algorithms</option>
                        <option value="Software Engineering">Software Engineering</option>
                    </select>
                </div>
                <input type="text" name="roomno" required autocomplete="off" class="form-control input-lg" placeholder="Your Room No." ng-model="register.regData.room"/>
                <input type="text" name="ext" required autocomplete="off" class="form-control input-lg" placeholder="Extension" ng-model="register.regData.extension"/>
                <input type="password" name="password" required autocomplete="off" class="form-control input-lg" placeholder="Password" ng-model="register.regData.password"/>
                <input type="password" name="confirm_password" required autocomplete="off" class="form-control input-lg" placeholder="Confirm Password" ng-model="register.regData.passcheck"/>
                <button type="button" class="btn btn-lg btn-primary">Create my account</button>
                <br/>
                <div class="row show-hide-message" ng-show="register.successMsg">
                    <div class="alert alert-success">{{register.successMsg}}</div>
                </div>
                <div class="row show-hide-message" ng-show="register.errorMsg">
                    <div class="alert alert-danger">{{register.errorMsg}}</div>
                </div>
                <br/>
                <br/>
                <br/>
            </form>
        </div>
    </div>
</div>
